<header class="d-flex flex-column flex-md-row justify-content-between align-items-center p-3">
  <div class="logo mb-3 mb-md-0"  [routerLink]="['/home']">
    <img src="assets/logo.png" width="114" height="64" alt="Logo Rick and Morty" />
  </div>
  <ul class="translate d-flex justify-content-center mb-3 mb-md-0">
    <li
      class="item"
      [class.focus]="isLangSelected('pt_br')"
      (click)="changeLang('pt_br')">
      <img src="../assets/brazil.png" width="32" [alt]="'HEADER.BR' | translate" />
    </li>
    <li
      class="item"
      [class.focus]="isLangSelected('en')"
      (click)="changeLang('en')">
      <img src="../assets/united-states.png" width="32" [alt]="'HEADER.US' | translate" />
    </li>
    <li
      class="item"
      [class.focus]="isLangSelected('es')"
      (click)="changeLang('es')">
      <img src="../assets/spain.png" width="32" [alt]="'HEADER.ES' | translate" />
    </li>
  </ul>

  <div class="header-options d-flex justify-content-center justify-content-md-end">
    <div class="option d-flex align-items-center no-border-home" [routerLink]="['/home']" [routerLinkActive]="['active']">
      <i class="bi bi-house"></i>
      <span class="option-title">{{'HOME.TITLE' | translate}}</span>
    </div>
    <div class="option d-flex align-items-center no-border-favorites" [routerLink]="['/favorites']" [routerLinkActive]="['active']">
      <i class="bi bi-heart"></i>
      <span class="option-title">{{'FAVORITE.TITLE' | translate}}</span>
      <ng-container *ngIf="(favoriteCount$ | async) !== null">
        <span class="notification">{{ favoriteCount$ | async }}</span>
      </ng-container>
    </div>
  </div>
</header>

<main class="container mt-5">
  <router-outlet></router-outlet>
</main>
